body {
  background-color: #eeeeee;
  margin: 0;
  padding: 0;
  font-family: "Chakra Petch";
}

#Front-hr {
  margin: 0;
}

/* #top-cloud {
    position: absolute;
    top: 110px;
    right: 250px;
    height: 120px;

} */

.Front-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #1d1616;
}

/* #Bottom-cloud {
    position: absolute;
    bottom: 110px;
    left: 250px;
    height: 120px;

} */

/* .cloud:hover {
    transform: scale(1.05);
} */

.title {
  font-family: "Playwrite In", "Chakra Petch", serif;
  font-size: 3rem;
  margin-bottom: 0;
  color: #eeeeee;
  /* color: #D84040; */
}

.title:hover {
  transform: scale(1.08);
  color: lavenderblush;
}

#Kush:hover {
  color:red;
}

.Front-page p {
  margin-top: 0;
  font-size: 2rem;
  font-family: "Chakra Petch";
  font-weight: bold;
  color:#d84040;
}

/* #title { 
    font-family: 'Lilita One' , serif;
    font-size: 4rem;
    color: #8E1616;
}  */

.Second-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about {
  text-align: center;
  font-family: "poppins";
  color: #d84040;
  font-weight: bolder;
}

.about p {
  width: 700px;
  font-family: "Chakra Petch";
  font-size: 25px;
  color: #1d1616;
}

#ks {
  height: 200px;
  border-radius: 50%;
  border: #1d1616 solid 5px;
}

.arrow {
  height: 50px;
  width: 50px;
  transition: 0.2s;
}

.arrow:hover {
  transform: scale(1.2);
}

.Skills {
  text-align: center;
  font-family: "Chakra Petch";
  font-size: 3rem;
  margin-top: 70px;
  margin-bottom: 0;
}

.Third-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 0;
}

.first-sec {
  width: 400px;
  text-align: center;
  font-family: "Chakra Petch";
  border: #1d1616 solid 5px;
  padding: 15px;
  border-radius: 5%;
  transition: 0.2s;
}

.come-out:hover {
  transform: scale(1.05);
  box-shadow: 0 0 0 4px #eeeeee, 0 0 0 8px #d84040;
}

.first-sec h2 {
  color: #d84040;
  font-weight: bolder;
}

.Second-sec h2 {
  color: #d84040;
  font-weight: bolder;
}

.Third-sec h2 {
  color: #d84040;
  font-weight: bolder;
}

.png {
  height: 180px;
}

.Second-sec {
  width: 400px;
  text-align: center;
  font-family: "Chakra Petch";
  border: #1d1616 solid 5px;
  padding: 15px;
  border-radius: 5%;
  transition: 0.2s;
}

.Third-sec {
  width: 400px;
  text-align: center;
  font-family: "Chakra Petch";
  border: #1d1616 solid 5px;
  padding: 15px;
  border-radius: 5%;
  transition: 0.2s;
}

.Fourth-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#mail {
  height: 300px;
}

.Fourth-page p {
  width: 700px;
  font-size: large;
  color: #1d1616;
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
}

.Fourth-page h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #d84040;
}

#button {
  background-color: #d84040;
  color: #eeeeee;
  height: 50px;
  width: 120px;
  font-size: large;
  border-radius: 10px;
  border: none;
  transition: 0.2s;
  cursor: pointer;
}

#button:hover {
  box-shadow: 0 0 0 4px #eeeeee, 0 0 0 8px #d84040;
  transform: scale(1.05);
}

.footer {
  height: 150px;
  background-color: #1d1616;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer p {
  color: #eeeeee;
  font-size: large;
  font-weight: bold;
  
}

.social-icons a {
  font-size: 1.8rem;
  color: #eeeeee;
  margin-left: 15px;
  margin-right: 15px;
  transition: 0.2s;
}

.fa-brands:hover {
  transform: scale(1.2);
  color: #d84040;
}

@media screen and (max-width: 768px) {
    .Front-page{
        height: 750px;
        padding: 100px 10px;
    }

    .title {
        font-size: 2.5rem;
    }

    .Front-page p {
        font-size: 1.5rem;
    }

    .Second-page {
        height: 700px;
        padding: 100px 10px;
    }

    .about {
        font-weight: bolder;
    }

    #ks {
        height: 200px;
    }

    .about p {
        font-size: 20px;
        width: 500px;
    }

    .arrow {
        height: 60px;
        width: 60px;
    }

    .Third-page {
        height: auto ;
        padding: 60px 10px;
    }
     
    .come-out {
        width: 350px;
        margin-bottom: 50px ;
    }

    .Skills {
        font-size: 3rem;
    }

    .Fourth-page {
        height: 900px;
    }

    #mail {
        height: 300px;
    }

    .Fourth-page h2 {
        font-size: 3rem;
    }

    .Fourth-page p {
        width: 500px;
        font-size: 20px;
        margin-bottom: 50px;
    }

    .footer p {
        font-size: 20px;
    }
}

@media screen and (max-width: 480px) {
    .Front-page{
        height: 500px;
        padding: 100px 10px;
    }

    .title {
        font-size: 1.5rem;
    }

    .Front-page p {
        font-size: 1rem;
    }

    .Second-page {
        height: 700px;
        padding: 100px 10px;
    }

    .about {
        font-weight: none;
    }

    #ks {
        height: 150px;
    }

    .about p {
        font-size: 20px;
        width: 300px;
    }

    .arrow {
        height: 40px;
        width: 40px;
    }

    .Third-page {
        height: auto ;
        padding: 60px 10px;
    }
     
    .come-out {
        width: 240px;
        margin-bottom: 50px ;
    }

    .png {
      height: 170px;
    }

    .Skills {
        font-size: 2rem;
    }

    .Fourth-page {
        height: 700px;
    }

    #mail {
        height: 200px;
    }

    .Fourth-page h2 {
        font-size: 2rem;
    }

    .Fourth-page p {
        width: 300px;
        margin-bottom: 30px;
    }

    .footer p {
        font-size: 15px;
    }
}


/* Maintaince Page CSS */

body {
  background-color: #eeeeee;
  margin: 0;
  padding: 0;
  font-family: "Chakra Petch";
  color: #1d1616;
}

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main h1 {
  width: 600px;
}

.main p {
  width: 600px;
}

#work-img {
  height: 200px;
}

#email {
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .main {
    height: 700px;
  }

  .main h1 {
    font-size: 24px;
    width: 350px;
  }

  .main p {
    width: 350px;
  }

  #work-img {
    height: 200px;
  }
}

@media screen and (max-width: 480px) {

  .main {
    height: 500px;
  }

  .main h1 {
    font-size: 20px;
    width: 270px;
  }

  .main p {
    width: 270px;
  }

  #work-img {
    height: 150px;
  }
}
